## Question 1

In [1]:
import pandas as pd

Reading into the files

In [2]:
edu_df = pd.read_csv("education.csv")
labour_df = pd.read_csv("labour.csv")

getting information about the  education and labour dataframe such number of columns and number of rows

In [3]:
"""geting infomation about labour data frame the number of rows and coloumns including 
if there are null values"""

labour_df.info()
labour_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8216 entries, 0 to 8215
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STRUCTURE               8216 non-null   object
 1   STRUCTURE_ID            8216 non-null   object
 2   ACTION                  8216 non-null   object
 3   FREQ                    8216 non-null   object
 4   FREQ_LABEL              8216 non-null   object
 5   REF_AREA                8216 non-null   object
 6   REF_AREA_LABEL          8216 non-null   object
 7   INDICATOR               8216 non-null   object
 8   INDICATOR_LABEL         8216 non-null   object
 9   SEX                     8216 non-null   object
 10  SEX_LABEL               8216 non-null   object
 11  AGE                     8216 non-null   object
 12  AGE_LABEL               8216 non-null   object
 13  URBANISATION            8216 non-null   object
 14  URBANISATION_LABEL      8216 non-null   object
 15  UNIT_MEASURE            8216 non-null   object
 16  UNIT_MEASURE_LABEL      8216 non-null   object
 17  COMP_BREAKDOWN_1        8216 non-null   object
 18  COMP_BREAKDOWN_1_LABEL  8216 non-null   object
 19  COMP_BREAKDOWN_2        8216 non-null   object
 20  COMP_BREAKDOWN_2_LABEL  8216 non-null   object
 21  COMP_BREAKDOWN_3        8216 non-null   object
 22  COMP_BREAKDOWN_3_LABEL  8216 non-null   object
 23  TIME_PERIOD             8216 non-null   int64
 24  OBS_VALUE               8216 non-null   float64
 25  AGG_METHOD              8216 non-null   object
 26  AGG_METHOD_LABEL        8216 non-null   object
 27  DECIMALS                8216 non-null   int64
 28  DECIMALS_LABEL          8216 non-null   object
 29  DATABASE_ID             8216 non-null   object
 30  DATABASE_ID_LABEL       8216 non-null   object
 31  COMMENT_TS              8216 non-null   object
 32  UNIT_MULT               8216 non-null   int64
 33  UNIT_MULT_LABEL         8216 non-null   object
 34  DATA_SOURCE             8216 non-null   object
 35  DATA_SOURCE_LABEL       8216 non-null   object
 36  UNIT_TYPE               8216 non-null   object
 37  UNIT_TYPE_LABEL         8216 non-null   object
 38  TIME_FORMAT             8216 non-null   object
 39  TIME_FORMAT_LABEL       8216 non-null   object
 40  COMMENT_OBS             0 non-null      float64
 41  OBS_STATUS              8216 non-null   object
 42  OBS_STATUS_LABEL        8216 non-null   object
 43  OBS_CONF                8216 non-null   object
 44  OBS_CONF_LABEL          8216 non-null   object
dtypes: float64(2), int64(3), object(40)
memory usage: 2.8+ MB

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,DATA_SOURCE_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,COMMENT_OBS,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFE,Africa Eastern and Southern,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFW,Africa Western and Central,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARB,Arab World,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public

In [4]:
"""getting information and structure about education data frame the number of rows and coloumns """


edu_df.info()
edu_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STRUCTURE               1332 non-null   object
 1   STRUCTURE_ID            1332 non-null   object
 2   ACTION                  1332 non-null   object
 3   FREQ                    1332 non-null   object
 4   FREQ_LABEL              1332 non-null   object
 5   REF_AREA                1332 non-null   object
 6   REF_AREA_LABEL          1332 non-null   object
 7   INDICATOR               1332 non-null   object
 8   INDICATOR_LABEL         1332 non-null   object
 9   SEX                     1332 non-null   object
 10  SEX_LABEL               1332 non-null   object
 11  AGE                     1332 non-null   object
 12  AGE_LABEL               1332 non-null   object
 13  URBANISATION            1332 non-null   object
 14  URBANISATION_LABEL      1332 non-null   object
 15  UNIT_MEASURE            1332 non-null   object
 16  UNIT_MEASURE_LABEL      1332 non-null   object
 17  COMP_BREAKDOWN_1        1332 non-null   object
 18  COMP_BREAKDOWN_1_LABEL  1332 non-null   object
 19  COMP_BREAKDOWN_2        1332 non-null   object
 20  COMP_BREAKDOWN_2_LABEL  1332 non-null   object
 21  COMP_BREAKDOWN_3        1332 non-null   object
 22  COMP_BREAKDOWN_3_LABEL  1332 non-null   object
 23  TIME_PERIOD             1332 non-null   int64
 24  OBS_VALUE               1332 non-null   float64
 25  AGG_METHOD              1332 non-null   object
 26  AGG_METHOD_LABEL        1332 non-null   object
 27  DECIMALS                1332 non-null   int64
 28  DECIMALS_LABEL          1332 non-null   object
 29  DATABASE_ID             1332 non-null   object
 30  DATABASE_ID_LABEL       1332 non-null   object
 31  COMMENT_TS              1332 non-null   object
 32  UNIT_MULT               1332 non-null   int64
 33  UNIT_MULT_LABEL         1332 non-null   object
 34  DATA_SOURCE             1332 non-null   object
 35  DATA_SOURCE_LABEL       1332 non-null   object
 36  UNIT_TYPE               1332 non-null   object
 37  UNIT_TYPE_LABEL         1332 non-null   object
 38  TIME_FORMAT             1332 non-null   object
 39  TIME_FORMAT_LABEL       1332 non-null   object
 40  COMMENT_OBS             0 non-null      float64
 41  OBS_STATUS              1332 non-null   object
 42  OBS_STATUS_LABEL        1332 non-null   object
 43  OBS_CONF                1332 non-null   object
 44  OBS_CONF_LABEL          1332 non-null   object
dtypes: float64(2), int64(3), object(40)
memory usage: 468.4+ KB

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,DATA_SOURCE_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,COMMENT_OBS,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BLR,Belarus,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,DMA,Dominica,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,PRT,Portugal,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,NaN,A,Normal value,PU,Public

since we want to be working with only data that is concerning South Africa only we have to check Ref area label column in both datasets whether they Contain South Africa if it does then we continue with our data analysis.

In [5]:
print(edu_df["REF_AREA_LABEL"].unique())

['Belarus' 'Dominica' 'Portugal' 'Pakistan' 'Bulgaria' 'Mozambique'
 'Singapore' 'Greece' 'Sao Tome and Principe' 'Aruba' 'Guinea'
 'Azerbaijan' 'Kazakhstan' 'Bahamas, The' 'Barbados' 'Mongolia'
 'Tajikistan' 'Albania' 'Armenia' 'Samoa' 'Sri Lanka' 'Ukraine' 'Cuba'
 'Serbia' 'Andorra' 'Qatar' 'Saudi Arabia' 'Sierra Leone' 'Kuwait'
 'Nigeria' 'Colombia' 'Ecuador' 'Honduras' 'Ireland' 'Moldova'
 'South Sudan' 'Trinidad and Tobago' 'Uganda' 'Chad' 'Kyrgyz Republic'
 'Bahrain' 'Belgium' 'Belize' 'Bermuda' 'Bosnia and Herzegovina' 'Canada'
 'Chile' 'China' 'Croatia' 'Czechia' 'Denmark' 'Finland' 'Georgia'
 'Germany' 'Ghana' 'Iceland' 'Iran, Islamic Rep.' 'Italy' 'Japan'
 "Korea, Dem. People's Rep." 'Korea, Rep.' 'Lao PDR' 'Latvia' 'Liberia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'North Macedonia'
 'Norway' 'Oman' 'Panama' 'Philippines' 'Poland' 'Romania'
 'Russian Federation' 'Slovak Republic' 'South Africa' 'Spain' 'Sweden'
 'Tanzania' 'Turkiye' 'United Kingdom' 'United States' 'Vanuatu'
 'West Bank and Gaza' 'Algeria' 'Angola' 'Bangladesh' 'Bolivia'
 'Brunei Darussalam' 'India' 'Indonesia' 'Jamaica' 'Malawi'
 'Marshall Islands' 'Nepal' 'Niger' 'Senegal' 'Sudan' 'Togo'
 'Venezuela, RB' 'Bhutan' 'Cambodia' 'Congo, Dem. Rep.' "Cote d'Ivoire"
 'Guatemala' 'Haiti' 'Iraq' 'Israel' 'Mauritania' 'Mauritius' 'Namibia'
 'Paraguay' 'Puerto Rico' 'Rwanda' 'Australia' 'Cyprus' 'El Salvador'
 'Ethiopia' 'Hungary' 'Malta' 'Solomon Islands' 'Thailand' 'Uruguay'
 'Uzbekistan' 'Afghanistan' 'Austria' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Cayman Islands' 'Comoros' 'Costa Rica' 'Estonia' 'Fiji' 'France'
 'Macao SAR, China' 'Maldives' 'Micronesia, Fed. Sts.' 'Montenegro'
 'New Caledonia' 'New Zealand' 'Palau' 'Slovenia' 'Switzerland'
 'Yemen, Rep.' 'Cabo Verde' 'Congo, Rep.' 'Dominican Republic'
 'Gambia, The' 'Kiribati' 'Madagascar' 'Mali' 'Turkmenistan' 'Zimbabwe'
 'Brazil' 'Eswatini' 'Malaysia' 'Monaco' 'Timor-Leste' 'Tuvalu'
 'United Arab Emirates' 'Benin' 'Djibouti' 'Egypt, Arab Rep.' 'Jordan'
 'Myanmar' 'Zambia' 'Curacao' 'Grenada' 'Guinea-Bissau' 'Guyana' 'Lebanon'
 'Lesotho' 'Papua New Guinea' 'San Marino' 'Suriname' 'Tonga' 'Tunisia'
 'Botswana' 'Central African Republic' 'Kenya' 'Turks and Caicos Islands'
 'Viet Nam' 'Antigua and Barbuda' 'Nauru' 'Nicaragua' 'Somalia']

In [6]:
print(labour_df["REF_AREA_LABEL"].unique())

['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Electricity Board (CEB)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD)' 'Euro area' 'Europe & Central Asia'
 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & Caribbean (IDA & IBRD)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East and North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD)' 'Middle income' 'North America'
 'OECD members' 'Other small states' 'Pacific island small states'
 'Post-demographic dividend' 'Pre-demographic dividend' 'Small states'
 'South Asia' 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD)' 'Upper middle income' 'World'
 'Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Channel Islands' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt, Arab Rep.'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon'
 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guam' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong SAR, China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' "Korea, Dem. People's Rep." 'Korea, Rep.'
 'Kuwait' 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovak Republic' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'St. Lucia'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkiye'
 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela, RB'
 'Viet Nam' 'Virgin Islands (U.S.)' 'West Bank and Gaza' 'Yemen, Rep.'
 'Zambia' 'Zimbabwe']

In [8]:
edu_sa = edu_df[edu_df["REF_AREA_LABEL"] == "South Africa"]
labour_sa = labour_df[labour_df["REF_AREA_LABEL"] == "South Africa"]

In [9]:
"""checking if there are any null values in both data sets"""

print(edu_sa.isnull().sum())

STRUCTURE                  0
STRUCTURE_ID               0
ACTION                     0
FREQ                       0
FREQ_LABEL                 0
REF_AREA                   0
REF_AREA_LABEL             0
INDICATOR                  0
INDICATOR_LABEL            0
SEX                        0
SEX_LABEL                  0
AGE                        0
AGE_LABEL                  0
URBANISATION               0
URBANISATION_LABEL         0
UNIT_MEASURE               0
UNIT_MEASURE_LABEL         0
COMP_BREAKDOWN_1           0
COMP_BREAKDOWN_1_LABEL     0
COMP_BREAKDOWN_2           0
COMP_BREAKDOWN_2_LABEL     0
COMP_BREAKDOWN_3           0
COMP_BREAKDOWN_3_LABEL     0
TIME_PERIOD                0
OBS_VALUE                  0
AGG_METHOD                 0
AGG_METHOD_LABEL           0
DECIMALS                   0
DECIMALS_LABEL             0
DATABASE_ID                0
DATABASE_ID_LABEL          0
COMMENT_TS                 0
UNIT_MULT                  0
UNIT_MULT_LABEL            0
DATA_SOURCE                0
DATA_SOURCE_LABEL          0
UNIT_TYPE                  0
UNIT_TYPE_LABEL            0
TIME_FORMAT                0
TIME_FORMAT_LABEL          0
COMMENT_OBS               13
OBS_STATUS                 0
OBS_STATUS_LABEL           0
OBS_CONF                   0
OBS_CONF_LABEL             0
dtype: int64

In [10]:
labour_sa.isnull().sum()

STRUCTURE                  0
STRUCTURE_ID               0
ACTION                     0
FREQ                       0
FREQ_LABEL                 0
REF_AREA                   0
REF_AREA_LABEL             0
INDICATOR                  0
INDICATOR_LABEL            0
SEX                        0
SEX_LABEL                  0
AGE                        0
AGE_LABEL                  0
URBANISATION               0
URBANISATION_LABEL         0
UNIT_MEASURE               0
UNIT_MEASURE_LABEL         0
COMP_BREAKDOWN_1           0
COMP_BREAKDOWN_1_LABEL     0
COMP_BREAKDOWN_2           0
COMP_BREAKDOWN_2_LABEL     0
COMP_BREAKDOWN_3           0
COMP_BREAKDOWN_3_LABEL     0
TIME_PERIOD                0
OBS_VALUE                  0
AGG_METHOD                 0
AGG_METHOD_LABEL           0
DECIMALS                   0
DECIMALS_LABEL             0
DATABASE_ID                0
DATABASE_ID_LABEL          0
COMMENT_TS                 0
UNIT_MULT                  0
UNIT_MULT_LABEL            0
DATA_SOURCE                0
DATA_SOURCE_LABEL          0
UNIT_TYPE                  0
UNIT_TYPE_LABEL            0
TIME_FORMAT                0
TIME_FORMAT_LABEL          0
COMMENT_OBS               35
OBS_STATUS                 0
OBS_STATUS_LABEL           0
OBS_CONF                   0
OBS_CONF_LABEL             0
dtype: int64

Cleaning Data

In [11]:
labour_sa = labour_sa.drop(columns=["COMMENT_OBS"])
edu_sa = edu_sa.drop(columns=["COMMENT_OBS"])

In [12]:
edu_clean = edu_sa[[
    "TIME_PERIOD", "REF_AREA_LABEL", "INDICATOR_LABEL",
    "SEX_LABEL", "AGE_LABEL", "OBS_VALUE"
]]

labour_clean = labour_sa[[
    "TIME_PERIOD", "REF_AREA_LABEL", "INDICATOR_LABEL",
    "SEX_LABEL", "AGE_LABEL", "OBS_VALUE"
]]

In [13]:
labour_clean.describe()

       TIME_PERIOD  OBS_VALUE
count    35.000000  35.000000
mean   2007.000000  59.423029
std      10.246951   2.574678
min    1990.000000  54.171000
25%    1998.500000  57.829000
50%    2007.000000  59.802000
75%    2015.500000  61.985500
max    2024.000000  62.569000

In [14]:
edu_clean.describe()

       TIME_PERIOD  OBS_VALUE
count    13.000000  13.000000
mean   2016.846154   8.306698
std       4.140172   2.775010
min    2010.000000   4.839276
25%    2014.000000   6.038021
50%    2017.000000   8.020000
75%    2020.000000  11.108956
max    2023.000000  12.960000