# Database Integration with SQLite3
This notebook demonstrates how to build, query, update, and delete records in a SQLite database, and how to load database data into Pandas.

In [1]:
# Import required libraries
import sqlite3
import pandas as pd

# Load the CLEANED CSV data for database import
edu_df = pd.read_csv('edu_clean.csv')
labour_df = pd.read_csv('labour_clean.csv')
merged_df = pd.read_csv('merged.csv')

## 1. Create and Connect to SQLite Database

In [2]:
# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect('assignment_data.db')
cursor = conn.cursor()

# Create tables for cleaned education, labour, and merged data
edu_df.to_sql('education_clean', conn, if_exists='replace', index=False)
labour_df.to_sql('labour_clean', conn, if_exists='replace', index=False)
merged_df.to_sql('merged', conn, if_exists='replace', index=False)

13

## 2. Create a Table and Insert Data

In [3]:
# Query the cleaned education, labour, and merged tables
edu_query = pd.read_sql_query('SELECT * FROM education_clean LIMIT 5', conn)
labour_query = pd.read_sql_query('SELECT * FROM labour_clean LIMIT 5', conn)
merged_query = pd.read_sql_query('SELECT * FROM merged LIMIT 5', conn)

print('Education Clean sample:')
print(edu_query)

print('Labour Clean sample:')
print(labour_query)

print('Merged sample:')
print(merged_query)

Education Clean sample:
   TIME_PERIOD REF_AREA_LABEL  \
0         2010   South Africa
1         2011   South Africa
2         2013   South Africa
3         2014   South Africa
4         2015   South Africa

                                     INDICATOR_LABEL SEX_LABEL  \
0  Educational attainment, at least Bachelor's or...     Total
1  Educational attainment, at least Bachelor's or...     Total
2  Educational attainment, at least Bachelor's or...     Total
3  Educational attainment, at least Bachelor's or...     Total
4  Educational attainment, at least Bachelor's or...     Total

                               AGE_LABEL  OBS_VALUE
0  All age ranges or no breakdown by age   4.839276
1  All age ranges or no breakdown by age   5.180079
2  All age ranges or no breakdown by age   5.954151
3  All age ranges or no breakdown by age   6.038021
4  All age ranges or no breakdown by age   6.070000
Labour Clean sample:
   TIME_PERIOD REF_AREA_LABEL  \
0         1990   South Africa
1         1991   South Africa
2         1992   South Africa
3         1993   South Africa
4         1994   South Africa

                                     INDICATOR_LABEL SEX_LABEL  \
0  Labor force participation rate, total (% of to...     Total
1  Labor force participation rate, total (% of to...     Total
2  Labor force participation rate, total (% of to...     Total
3  Labor force participation rate, total (% of to...     Total
4  Labor force participation rate, total (% of to...     Total

                               AGE_LABEL  OBS_VALUE
0  All age ranges or no breakdown by age     62.569
1  All age ranges or no breakdown by age     62.492
2  All age ranges or no breakdown by age     62.509
3  All age ranges or no breakdown by age     62.394
4  All age ranges or no breakdown by age     62.371
Merged sample:
   TIME_PERIOD REF_AREA_LABEL  \
0         2010   South Africa
1         2011   South Africa
2         2013   South Africa
3         2014   South Africa
4         2015   South Africa

                                 INDICATOR_LABEL_edu SEX_LABEL  \
0  Educational attainment, at least Bachelor's or...     Total
1  Educational attainment, at least Bachelor's or...     Total
2  Educational attainment, at least Bachelor's or...     Total
3  Educational attainment, at least Bachelor's or...     Total
4  Educational attainment, at least Bachelor's or...     Total

                               AGE_LABEL  OBS_VALUE_edu  \
0  All age ranges or no breakdown by age       4.839276
1  All age ranges or no breakdown by age       5.180079
2  All age ranges or no breakdown by age       5.954151
3  All age ranges or no breakdown by age       6.038021
4  All age ranges or no breakdown by age       6.070000

                              INDICATOR_LABEL_labour  OBS_VALUE_labour
0  Labor force participation rate, total (% of to...            54.171
1  Labor force participation rate, total (% of to...            56.169
2  Labor force participation rate, total (% of to...            56.219
3  Labor force participation rate, total (% of to...            56.093
4  Labor force participation rate, total (% of to...            57.693

## 3. Query the Database

In [4]:
# Update and delete records safely in the education table
# Example: Update a value (set COMMENT_OBS to 'Updated' for the first row)
cursor.execute('UPDATE education SET COMMENT_OBS = ? WHERE rowid = 1', ('Updated',))

# Example: Delete a record (delete the last row)
cursor.execute('DELETE FROM education WHERE rowid = (SELECT MAX(rowid) FROM education)')
conn.commit()

## 4. Update and Delete Records Safely

In [5]:
# Load updated education table into pandas DataFrame
edu_updated = pd.read_sql_query('SELECT * FROM education LIMIT 5', conn)
edu_updated

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,DATA_SOURCE_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,COMMENT_OBS,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BLR,Belarus,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,Updated,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,DMA,Dominica,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,PRT,Portugal,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,PAK,Pakistan,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,BGR,Bulgaria,WB_WDI_SE_TER_CUAT_BA_ZS,"Educational attainment, at least Bachelor's or...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public

## 5. Load Database Data into Pandas DataFrame

In [6]:
# Load updated labour table into pandas DataFrame
labour_updated = pd.read_sql_query('SELECT * FROM labour LIMIT 5', conn)
labour_updated

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,DATA_SOURCE_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,COMMENT_OBS,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFE,Africa Eastern and Southern,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFW,Africa Western and Central,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARB,Arab World,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CSS,Caribbean small states,WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CEB,Central Electricity Board (CEB),WB_WDI_SL_TLF_CACT_ZS,"Labor force participation rate, total (% of to...",_T,...,World Development Indicators (WDI),RATIO,Ratio,P1Y,Annual,None,A,Normal value,PU,Public

## 6. Close the Database Connection

In [7]:
# Always close the connection when done
conn.close()